Menu (<a href="https://github.com/lapisusp/wiki/edit/master/_includes/custom/sidebar.html">Edit</a>):

<ul>
  <li><a href="/wiki">Home</a></li>
  <li><a href="materiais">Conheça o LApIS</a> - Materiais para Alunos</li>
  <li><a href="rs">Revisão Sistemática</a></li>
  <li><a href="CEP">Comitê de Ética em Pesquisa</a></li>
  <li><a href="escrita">Writing Center</a></li>
  <li><a href="fun">LApIS for Fun!</a></li>
  <li><a href="divulgacao">Revistas e Eventos de Interesse</a></li>
  <li><a href="artigos">Artigos</a></li>
  <li><a href="servicos-computacionais">Serviços computacionais</a></li>
  <li><a href="exemplos">Exemplos</a></li>
  <li><a href="internacional">Internacional</a></li>
  <li><a href="financiamento">Financiamento</a></li>
  <li><a href="datasets">Datasets</a></li>
</ul>
